Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@arybary 
arybary
/
airport
Public
Cannot fork because you own this repository and are not a member of any organizations.
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
airport/.gitignore
@arybary
arybary ary
Latest commit 0fd6bb6 on Jul 8, 2022
 History
 1 contributor
23 lines (19 sloc)  328 Bytes
 

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/package-lock.json
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
airport/.gitignore at main · arybary/airport